@media screen and (max-width : 992px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width : 993px) {
    html {
        font-size: 0.85vw;
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}

body {
    margin: 0px;
}